<div class='w-[100%] border border-black rounded-lg p-4 m-1 flex justify-between items-center'>
  <div class='flex items-center'>
    <%= checkbox_status(task) %>
    <%= title_status(task) %>
  </div>
  <div class="flex items-center">
    <p class='text-xs cursor-pointer hover:underline'><%= link_to 'See details', task_path(task) %></p>
    <p class='mx-1 text-xs'>|</p>
    <p class='text-xs cursor-pointer hover:underline'><%= link_to 'EDIT', edit_task_path(task) %></p>
    <p class='mx-1 text-xs'>|</p>
    <p class='text-xs cursor-pointer hover:underline'><%= link_to 'DELETE', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
  </div>
</div>
