<div class='w-[100%] h-[100%] m-auto flex flex-col items-center'>
  <h3 class='text-center font-semibold text-2xl m-10'>TODOS LIST</h3>
  <div class='w-[60%] border border-black p-5 rounded-lg'>
    <%= link_to '<- Back', root_url, { class: 'hover:underline' } %>
    <div class='flex items-center justify-between mt-2'>
      <h4 class='text-2xl'><%= "Title: #{@task.title}" %></h4>
      <div class='flex items-center justify-between'>
        <p class='text-sm cursor-pointer hover:underline'><%= link_to 'EDIT', edit_task_path(@task) %></p>
        <p class='mx-1 text-xs'>|</p>
        <p class='text-sm cursor-pointer hover:underline'><%= link_to 'DELETE', task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
    </div>
    <h5 class='text-md mt-2'><%= "Description: #{@task.body}" %></h5>
    <h5 class='text-md mt-2'><%= task_status(@task) %></h5>
    <hr class='mt-4 mb-2 border-black'/>
    <h4 class='text-xl mb-2'>Comments</h4>
    <% @task.comments.each do |comment| %>
      <%= render 'comment',  task: @task , comment: comment %>
    <% end %>
    <h2>Add a comment:</h2>
    <%= form_with model: [ @task, @task.comments.build ] do |form| %>
      <p class='text-sm'>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
      </p>
      <p class='text-sm'>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </p>
      <div class='border border-black px-2 py-1 w-fit rounded-md mt-4 text-center'>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
