<div class='w-[100%] h-[100%] m-auto flex flex-col items-center'>
  <h3 class='text-center font-semibold text-2xl m-10'>TODOS LIST</h3>
  <div class='w-[60%] border border-black p-5 rounded-lg'>
    <%= link_to '<- Back', company_tasks_path(@company), { class: 'hover:underline' } %>
    <div class='flex items-center justify-between mt-2'>
      <h4 class='text-2xl'><%= "Title: #{@task.title}" %></h4>
      <div class='flex items-center justify-between'>
        <p class='text-sm cursor-pointer hover:underline'><%= link_to 'EDIT', edit_company_task_path(@company, @task) %></p>
        <p class='mx-1 text-xs'>|</p>
        <p class='text-sm cursor-pointer hover:underline'><%= link_to 'DELETE', company_task_path(@company, @task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
    </div>
    <h5 class='text-md mt-2'><%= "Description: #{@task.body}" %></h5>
    <h5 class='text-md mt-2'><%= task_status(@task) %></h5>
    <h5 class='mt-2 hover:underline'><%= link_to "created by #{@task.user.email}", @task.user %></h5>
    <h5 class='text-sm mt-2'><%= "last updated on #{@task.updated_at.strftime("%m-%b-%y at %I:%M%p")}" %></h5>
    <hr class='mt-4 mb-2 border-black'/>
    <h4 class='text-xl mb-2'>Comments</h4>
    <% @task_comments.each do |comment| %>
      <%= render 'comment',  task: @task , comment: comment %>
    <% end %>
    <div class='w-[100%] flex justify-end'>
      <%= paginate @task_comments %>
    </div>
    <h2>Add a comment:</h2>
    <%= form_with model: [@company, @task, @task.comments.build ] do |form| %>
      <p class='text-sm'>
        <%= form.text_area :body %>
      </p>
      <div class='border border-black px-2 py-1 w-fit rounded-md mt-4 text-center'>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
