<h1 class='text-2xl'>Edit Profile of <%= @user.email %></h1>
<%= form_for @user do |f| %>
  <%= f.label 'username:' %>
  <%= f.text_field :username, class: 'h-5 my-2' %>
  <% if current_user.admin? %>
    <br />
    <%= f.label 'role:' %>
    <%= f.select :role, options_for_select([['user', 'user'], ['admin', 'admin']]) %>
  <% end %>
  <br />
  <%= f.file_field :avatar, class: 'my-2' %>
  <div class='border border-black p-2 w-fit rounded-md horver:bg-gray-100 cursor-pointer'>
    <%= f.submit %>
  </div>
<% end %>
